## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.12,-134.97,75.99,68,0,7.94,clear sky
1,1,Bethel,US,41.37,-73.41,37.40,86,90,9.17,overcast clouds
2,2,Baturaja,ID,-4.13,104.17,74.73,91,77,1.25,broken clouds
3,3,Hobart,AU,-42.88,147.33,51.01,87,20,4.70,few clouds
4,4,Pisco,PE,-13.70,-76.22,68.00,72,75,8.05,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.12,-134.97,75.99,68,0,7.94,clear sky
6,6,Atuona,PF,-9.80,-139.03,77.77,72,98,11.54,overcast clouds
11,11,El Carmen,CO,8.51,-73.45,75.54,84,53,3.44,heavy intensity rain
14,14,Morant Bay,JM,17.88,-76.41,86.00,70,40,9.17,scattered clouds
20,20,Kavieng,PG,-2.57,150.80,82.06,76,95,7.29,moderate rain
...,...,...,...,...,...,...,...,...,...,...
677,677,Rabaul,PG,-4.20,152.17,80.91,77,78,2.89,light rain
678,678,Uribia,CO,11.71,-72.27,85.15,71,54,14.94,moderate rain
679,679,Boa Vista,BR,2.82,-60.67,89.60,52,40,9.17,scattered clouds
682,682,Pandamatenga,BW,-18.53,25.63,76.06,27,0,3.38,clear sky
686,686,Thatta,PK,24.75,67.92,76.87,45,0,8.84,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
677,False,False,False,False,False,False,False,False,False,False
678,False,False,False,False,False,False,False,False,False,False
679,False,False,False,False,False,False,False,False,False,False
682,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#preferred_cities_df.dropna().count()
preferred_cities_df= preferred_cities_df.dropna(how='any',axis=0) 
preferred_cities_df.notnull().count()

City_ID                193
City                   193
Country                193
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
Current Description    193
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng",]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
   
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,75.99,-23.12,-134.97,Pension Maro'i
6,Atuona,PF,77.77,-9.80,-139.03,Villa Enata
11,El Carmen,CO,75.54,8.51,-73.45,La Casona
14,Morant Bay,JM,86.00,17.88,-76.41,Whispering Bamboo Cove Resort
20,Kavieng,PG,82.06,-2.57,150.80,Nusa Island Retreat
...,...,...,...,...,...,...
677,Rabaul,PG,80.91,-4.20,152.17,Rabaul Hotel
678,Uribia,CO,85.15,11.71,-72.27,Hotel Uribia
679,Boa Vista,BR,89.60,2.82,-60.67,Aipana Plaza Hotel
682,Pandamatenga,BW,76.06,-18.53,25.63,Wildtrack Safaris Eco Lodge
686,Thatta,PK,76.87,24.75,67.92,We Care Guest House

In [10]:

# 7. Drop the rows where there is no Hotel Name.
hotel_df= hotel_df.dropna(how='any',axis=0) 
hotel_df.notnull().count()

City          193
Country       193
Max Temp      193
Lat           193
Lng           193
Hotel Name    193
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file="city_data.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
locations

       Lat     Lng
0   -23.12 -134.97
6    -9.80 -139.03
11    8.51  -73.45
14   17.88  -76.41
20   -2.57  150.80
..     ...     ...
677  -4.20  152.17
678  11.71  -72.27
679   2.82  -60.67
682 -18.53   25.63
686  24.75   67.92

[193 rows x 2 columns]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Call the figure to plot the data.

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))